* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
}

.modal {
    z-index: 999;
}

.modal-backdrop {
    z-index: 990;
}

.navbar .navbar-brand {
    font-size: 22px;
    color: #e63909 !important;  
    letter-spacing: .5px;
}

.navbar .navbar-nav .nav-link {
    padding: 6px 12px !important;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover ,
.navbar .navbar-nav .nav-link.active {
    color: #ff9c07 !important;  
}

.navbar .navbar-nav .nav-link:focus {
    border: 1px solid #ff9c07;
}

.navbar nav .form-control {
    transition: 0.2s;
}

nav .form-control:focus {
    box-shadow: 0 0 0 0.15rem rgba(255, 193, 7, .4) !important;
}

.modal-title {
    font-size: 1.3rem;
    color: #e63909;
}

.modal-body input.form-check-input:checked ,
.modal-body input.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.15rem rgba(255,193,7,.3);
}

.modal-body input.form-check-input:checked {
    background-color: #ffc107 ;
}
.modal-body input.form-check-input {
    border: 1px solid #ccc;
}
.modal-footer .btn {
    background: linear-gradient(45deg, #ff9c07, #ff4b1f);
    font-size: 1rem;
}

.modal-footer .btn:hover {
    opacity: 0.9;
}

.carousel {
    background: url(../images/background.png) no-repeat;
    background-size: 100% 100%;
}

.carousel-item {
    height: 100vh;
    display: flex !important;
    align-items: center !important;
}

.carousel-item img{
    animation: fadeIn 2s linear infinite alternate;
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.9;
        transform: translateY(10px);
    }
}
