* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
}

.navbar {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1) !important;
}

.navbar .navbar-brand {
    font-size: 22px;
    color: #e63909 !important;  
    letter-spacing: .5px;
}

.navbar .navbar-nav .nav-link {
    padding: 6px 12px !important;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover ,
.navbar .navbar-nav .nav-link.active {
    color: #ff9c07 !important;  
}

.navbar .navbar-nav .nav-link:focus {
    border: 1px solid #ff9c07;
}

.navbar nav .form-control {
    transition: 0.2s;
}

nav .form-control:focus {
    border: 1px solid #f9d186 !important;
    box-shadow: 0 0 0 0.15rem rgba(255, 193, 7, .4) !important;
}

.modal {
    z-index: 999;
}

.modal-backdrop {
    z-index: 990;
}

.modal-title {
    font-size: 1.3rem;
    color: #e63909;
}

.modal-body input.form-check-input:checked ,
.modal-body input.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.15rem rgba(255,193,7,.3);
}

.modal-body input.form-check-input:checked {
    background-color: #ffc107 ;
}

.modal-body input.form-check-input {
    border: 1px solid #ccc;
}

.modal-footer .btn {
    background: linear-gradient(45deg, #ff9c07, #ff4b1f);
    font-size: 1rem;
}

.modal-footer .btn:hover {
    opacity: 0.85;
}

/* ////////////////////////////////////////////////////////////////////////// */

.carousel-inner .carousel-item {
    background: linear-gradient(to bottom,#ffffff 0%,#ffffff 60%,#f9d186 85%, #f4a52a 100%
    );
}

.carousel-item img{
    animation: fadeIn 2s linear infinite alternate;
}

.carousel-control-prev i, 
.carousel-control-next i {
    color: #ffc107;
    font-size: 20px;
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.9;
        transform: translateY(10px);
    }
}

.custom-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #333;
    max-width: 470px;
}

.custom-caption h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: #ff4b1f; 
}

.custom-caption p {
    font-size: 1.1rem;
    color: #444;
}

.custom-caption .btn-warning {
    background: linear-gradient(45deg, #ff9c07, #ff4b1f);
    border: none;
}

.custom-caption .btn-outline-light {
    border-color: #ff9c07;
    color: #ff9c07;
}

.custom-caption .btn-outline-light:hover {
    background: #ff9c07;
    color: #fff;
}

@media (max-width: 992px) {
    .carousel-inner .carousel-item .container-fluid .row {
        transform: translateY(-17%);
    }

    .custom-caption {
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        padding: 20px;
        max-width: none;

        background: rgba(255, 255, 255, 0.15); 
        backdrop-filter: blur(8px); 
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    .custom-caption h1 {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .custom-caption p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .custom-caption a.btn {
        padding: 6px 14px !important;
        font-size: 0.85rem !important;
    }
}